.result{
  width: 100vw;
  min-height: 100vh;
  padding:90px 16px 40px 16px;
 display: grid;
 grid-template-columns: repeat(14, 1fr);
 place-items: end;
 gap:6px;
}
.result .column{
  background-color: var(--blue);
  width: 80px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding:8px 0 ;
  font-size: 1.2rem;
  color: var(--white);
}
.result .name{
  display: flex;
  justify-content: center;
}