.nav {
  max-width: 1440px;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 80px;
  background-color: var(--red);
  color: var(--white);
  position: fixed;
  top: 0;
  z-index: 5;
}
.nav .logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.nav .link-logo {
  display: flex;
}
.nav .logo .img {
  width: 40px;
  height: 40px;
  margin-right: 8px;
}
.nav .logo .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.link {
  text-decoration: none;
  font-size: 1.5rem;
  color: var(--black);
  padding: 0 16px;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
}
.link:hover,
.link:focus {
  color: var(--blueViolet);
  background-color: var(--lightBlueviolet);
}

.nav ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.hamburger {
  position: absolute;
  right: 0px;
  top: 6vh;
  transform: translate(-50%, -50%);
  z-index: 2;
}

@media (min-width: 876px) {
  .hamburger {
    display: none;
  }
}

@media (max-width: 875px) {
  .nav .wrapper {
    flex-direction: column;
    justify-content: space-evenly;
    position: absolute;
    right: 0;
    top: -100vh;
    transition: transform 0.5s ease-in-out;
    z-index: 1;
    background: var(--grey);
    height: 16rem;
  }

  .link {
    transition: all 0.3s ease-in-out;
  }

  .navbar-none {
    transform: translateY(100vh);
  }
  .nav .wrapper {
    width: 250px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
    padding: 0 5px;
  }
}
@media (max-width: 485px) {
  .nav {
    padding: 0 0rem;
  }
  .nav .title {
    width: 80%;
  }
  .nav .logo h1 {
    font-size: 1.2rem;
    text-align: center;
  }
  .nav .logo .img {
    width: 20px;
    height: 20px;
  }
  .nav .wrapper {
    width: 100%;
  }
  .link {
    font-size: 1rem;
  }
}
